@layer reset, global, components, overrides;

@import url("./reset.css") layer(reset);
@import url("./overrides.css") layer(overrides);

@layer global {
html {
    line-height: 1.5;

    /*farver*/
    --overskrift: #1C1C1C;
    --bodytext: #595566;
    --primary01:#FFCC4A;
    --primary02:#4EAF4E;
    --primary03: #181818;
    --secondary01:#F5F5F5;
    --secondary02:#FFFFFF;
    --nav: #1b1b1be8;

    /*skrift str*/
    --heading01: 50px;
    --heading02: 45px;
    --heading03: 40px;
    --heading04: 35px;
    --heading05: 30px;
    --heading06: 25px;
    --footer: 16px
    
}

h1 {
color:var(--overskift); /* skal gøres til en variabel*/
font-family: Cabin;
font-size: 3.125rem;
font-weight: 600;
line-height: 1.3%; /* 65px */
}


}