---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import image1 from "../assets/images/billede1.jpg";
import Idea from "../componentes/Idea.astro";
import ValuesHvid from "../componentes/ValuesHvid.astro";
import EmployeeSection from "../componentes/EmployeeSection.astro";

const employeeData = await fetch(
  "https://raw.githubusercontent.com/AlberteViendahl/frontend-design/main/resources/json/employees.json"
).then((res) => res.json());

const firstThreeEmployees = employeeData.slice(0, 3);
---

<BaseLayout title="Home">
  <Image class="imgs" src={image1} alt="Sarah" class="img" />
  <div class="box1">
    <button>SERVICES</button>
    <h1>Creative Services For Boost Your Business Growth</h1>
  </div>
  <div class="grids">
    <Idea />
  </div>
  <ValuesHvid />
  <div class="grids">
    <EmployeeSection data={firstThreeEmployees} />
  </div>
</BaseLayout>

<style>
  .grids {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns:
      [full-start] 1fr [content-start] minmax(0, 1100px)
      [content-end] 1fr [full-end];
    gap: 1rlh;

    > * {
      grid-column: content;
    }
  }
  .imgs {
    position: relative;
  }

  .box1 {
    position: absolute;
    right: 30%;
    top: 35%;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(5.5px);
    z-index: 1;
    height: 240px;
    padding: 45px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }

  h1 {
    line-height: 1em;
    font-size: var(--heading01);
    width: 18ch;
  }

  button {
    background-color: var(--primary01);
    border-radius: 24px;
    width: 130px;
    font-size: "footer";
    font-family: "lato";
    letter-spacing: 2.32px;
    margin-bottom: 20px;
  }

  /*   RESPSONSIV: */

  @media (width < 900px) {
    .box1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      right: 13%;
      top: 30%;
      background-color: rgba(255, 255, 255, 0.85);
      backdrop-filter: blur(5.5px);
      z-index: 1;
      height: 90px;
      width: auto;
      padding: 20px;
      border-radius: 20px;
    }

    h1 {
      font-size: var(--heading06);
      width: 18ch;
      line-height: 1em;
      text-align: left;
    }

    button {
      background-color: var(--primary01);
      border-radius: 24px;
      width: 80px;
      font-size: 12px;
      margin-top: 10px;
      align-self: flex-start;
    }
  }
</style>
