---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import image1 from "../assets/images/billede3.jpg";
import Idea from "../componentes/Idea.astro";
import ValuesHvid from "../componentes/ValuesHvid.astro";
import EmployeeSection from "../componentes/EmployeeSection.astro";
import CaseS from "../componentes/CaseS.astro";
import Faq from "../componentes/Faq.astro";

const employeeData = await fetch(
  "https://raw.githubusercontent.com/AlberteViendahl/frontend-design/main/resources/json/employees.json"
).then((res) => res.json());

const firstThreeEmployees = employeeData.slice(0, 3);
---

<BaseLayout>
  <Image class="imgs" src={image1} alt="Sarah" class="img" />
  <div class="box1">
    <button>CASE STUDIES SINGLE</button>
    <h1>Taxes & Efficiency</h1>
  </div>
  <div class="grids">
    <CaseS />
    <Faq />
  </div>
</BaseLayout>
<style>
  .box1 {
    position: absolute;
    top: 30%;
    left: 40%; /* Center horizontally */
    transform: translateX(-50%); /* Center by adjusting with 50% width */
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(5.5px);
    z-index: 1;
    height: 150px;
    width: 500px;
    padding: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }

  h1 {
    line-height: 1em;
    font-size: var(--heading01);
    text-align: center; /* Center text inside h1 */
    width: 25ch;
  }

  button {
    background-color: var(--primary01);
    border-radius: 24px;
    width: 150px;
    font-size: 12px;
    margin-top: 10px;
    align-self: flex-start;
  }

  .grids {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns:
      [full-start] 1fr [content-start] minmax(0, 1100px)
      [content-end] 1fr [full-end];
    gap: 1rlh;

    > * {
      grid-column: content-start / content-end;
    }
  }

  /*     RESPSONSIV */
  @media (width < 900px) {
    .box1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      right: 13%;
      top: 25%;
      background-color: rgba(255, 255, 255, 0.85);
      backdrop-filter: blur(5.5px);
      z-index: 1;
      height: 90px;
      width: 400px;
      padding: 20px;
      border-radius: 20px;
    }

    h1 {
      font-size: var(--heading06);
      width: 18ch;
      line-height: 1em;
      text-align: left;
      font-family: "cabin";
      font-weight: bold;
    }

    button {
      background-color: var(--primary01);
      border-radius: 24px;
      width: 150px;
      font-size: 12px;
      margin-top: 10px;
      align-self: flex-start;
    }
  }
</style>
