---
import "../styles/global.css";
import { Image } from "astro:assets";
import image2 from "../assets/images/billede4.jpg";
import BaseLayout from "../layouts/BaseLayout.astro";
import EmployeeSection from "../componentes/EmployeeSection.astro";
import Popup from "../componentes/Popup.astro";
import EmployeeCard from "../componentes/EmployeeCard.astro";
import Newsletter from "../componentes/Newsletter.astro";
import Top from "../componentes/Top.astro";
import Scroll from "../componentes/Scroll.astro";
import { cardContent } from "../data/scroll-content.js";
import Animation from "../componentes/Animation.astro";
import Values from "../componentes/Values.astro";
import ContactUs from "../componentes/ContactUs.astro";

const employeeData = await fetch(
  "https://raw.githubusercontent.com/AlberteViendahl/frontend-design/main/resources/json/employees.json"
).then((res) => res.json());

/* const firstThreeEmployees = employeeData.slice(0, 3); */
---

<BaseLayout>
  <Top />
  <section>
    <div class="indhold">
      <div>
        <Image src={image2} alt="billede4" class="img" />
      </div>
      <div>
        <h2>What To Expect</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </section>

  <Scroll cardContent={cardContent} />

  <Animation />
  <Values />
  <ContactUs />
</BaseLayout>
<style>
  section {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns:
      [full-start] 1fr [content-start] minmax(0, 1100px)
      [content-end] 1fr [full-end];
    gap: 1rlh;

    height: 600px;
  }

  article {
    grid-column: content;
    display: grid;
    grid-template-columns: subgrid;

    > * {
      grid-column: content;
    }
  }

  .indhold {
    grid-column: content;
    display: grid;
    grid-template-columns: subgrid;
    display: inline-flex;
    align-items: flex-start;

    padding-top: 250px;
    > * {
      grid-column: 2;
    }

    img {
      width: 450px;
      border-radius: 24px;
      padding: 20px;
    }
  }
</style>
