---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import EmployeeSection from "../componentes/EmployeeSection.astro";
import Popup from "../componentes/Popup.astro";
import EmployeeCard from "../componentes/EmployeeCard.astro";
import Newsletter from "../componentes/Newsletter.astro";

const employeeData = await fetch(
  "https://raw.githubusercontent.com/AlberteViendahl/frontend-design/main/resources/json/employees.json"
).then((res) => res.json());
---

<BaseLayout title="Home">
  <div class="body">
    <img src="/images/fællesbillede2.jpg" alt="">
    <EmployeeSection data={employeeData} theme="dark" />
  </div>
</BaseLayout>

<style>
  .body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: [full-start] 1fr [content-start] minmax(0, 1100px) [content-end] 1fr [full-end];
    gap: 1rlh;
  }

  .card {
    grid-column: content;
  display: grid;
  grid-template-columns: subgrid;
  
    > * {
    grid-column: content
  }
}
  }
</style>
