---
import "../styles/global.css";
---

<section>
  <button>FAQ</button>
  <h1>Customer Questions</h1>
  <details name="a">
    <summary>What will happen when I’ve sent my application?</summary>
    <div>
      Ippsum is the result of synergy between our teams and our customers. Our
      company culture is focused on excellent productivity, customer
      satisfaction, respect for team and individual achievements.
    </div>
  </details>

  <hr />

  <details name="a">
    <summary>What should I include in my personal statement?</summary>
    <div>
      Ippsum is the result of synergy between our teams and our customers. Our
      company culture is focused on excellent productivity, customer
      satisfaction, respect for team and individual achievements.
    </div>
  </details>
  <hr />

  <details name="a">
    <summary>Will membership plans be charged automatically?</summary>
    <div>
      Ippsum is the result of synergy between our teams and our customers. Our
      company culture is focused on excellent productivity, customer
      satisfaction, respect for team and individual achievements.
    </div>
  </details>

  <hr />

  <details name="a">
    <summary>What will happen when I’ve sent my application?</summary>
    <div>
      Ippsum is the result of synergy between our teams and our customers. Our
      company culture is focused on excellent productivity, customer
      satisfaction, respect for team and individual achievements.
    </div>
  </details>

  <hr />

  <details name="a">
    <summary>Can I get a free trial before I purchase?</summary>
    <div>
      Ippsum is the result of synergy between our teams and our customers. Our
      company culture is focused on excellent productivity, customer
      satisfaction, respect for team and individual achievements.
    </div>
  </details>

  <hr />
</section>

<style>
  section {
    background-color: var(--secondary01);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    min-height: 100vh;
    border-radius: 24px;
  }

  details {
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
  }

  summary {
    text-align: left;
    font-weight: bold;
    cursor: pointer;
    list-style: none;
    appearance: none;
  }

  div {
    text-align: left;
    max-width: 75ch;
    font-family: "cabin";
  }

  hr {
    color: rgba(195, 191, 191, 0.573);
    padding: 0.5px;
    width: 70%;
    padding-bottom: 15px;
    margin: 0 auto;
    /* margin-right: 250px; */
  }

  h1 {
    padding-bottom: 100px;
  }

  button {
    background-color: var(--primary02);
    border-radius: 24px;
    padding: 2px;
    width: 90px;
    margin-bottom: 40px;
    color: var(--secondary02);
  }
</style>
