---
import "../styles/global.css";
import Button from "../componentes/Button.astro";
import Popup from "../componentes/Popup.astro";
---

<article class="grid">
  <h1> <a href="/home">AskExperts</a></h1>
  <ul>
    <li> <a href="/home">Home</a></li>
    <li>Case Study</li>
    <li> <a href="/team">Team</a></li>
    <li> <a href="/about">About</a></li>
  </ul>
  <div class="knap">
<Popup></Popup>

</div>
</article>

<style>
    article{
        background-color: var(--nav);
    }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

  h1 { 
    display: flex;
    justify-content: center;
    align-items: center;
    var(--heading05); 
    color: var( --secondary02);
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 28px;
}

li, a{
    color: var( --secondary02);
    text-decoration: none;
}

.knap{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var( --primary03);
}
</style>
