---
import "../styles/global.css";
import Button from "../componentes/Button.astro";
---

<div class="newsletter">
  <div class="text">
    <h1>Subscribe Our Newsletter</h1>
    <p>Build stronger Customer Relationships with Consultalk</p>
    <img src="../public/icons/pattern2.svg" alt="" />
  </div>
  <div>
    <label for="email"></label>
    <input type="email" id="email" placeholder="your mail adress" />
  </div>

  <Button text="Subscribe" />
</div>

<style>
  .newsletter {
    background-color: var(--primary03);
    padding: 40px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    border-radius: 20px;
    max-height: 252px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
  }

  .newsletter::before {
    content: "";
    position: absolute;
    right: -6rem;
    top: 7rem;
    background: green;
    width: 226.607px;
    height: 284.947px;
    transform: rotate(135deg);
    z-index: 2;
    border-radius: 20px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  h1 {
    color: var(--secondary02);
    font-size: var(--heading04);
    padding-bottom: 10px;
    font-family: "cabin";
  }

  p {
    color: var(--secondary02);
    font-size: var(--footer);
    font-family: "lato";
  }

  input {
    background-color: var(--secondary02);
    border-radius: 20px;
    padding: 12px 17px;
    width: 250px;
    margin: 15px;
    color: var(--bodytext);
  }

  img {
    position: absolute;
    z-index: 1;
    right: -6rem;
    top: -7rem;
    width: 226.607px;
    height: 284.947px;
    transform: rotate(140deg);
  }

  @media (width < 900px) {
    .newsletter {
      display: revert;
    }

    .newsletter::before {
      content: "";
      position: absolute;
      right: -7rem;
      top: 11rem;
      background: green;
      width: 180px;
      height: 180px;
      transform: rotate(135deg);
      z-index: 1;
      border-radius: 20px;
    }

    h1 {
      font-size: var(--heading07);
    }
  }
</style>
