---
import "../styles/global.css";
---

<div class="top">
  <div class="text1">
    <h1>Adam Buschemia Business Consultant</h1>
    <p>
      Get help from Alex Moore, a professional business coach with advanced
      experience on growth and business scaling.
    </p>
    <button type="button">Book a Meeting</button>
  </div>

  <div class="img"></div>

  <!--  <img src="../assets/images/sarah.jpg" alt="Sarah" /> -->
</div>

<style>
  .top {
    background-color: var(--primary03);
    display: flex;
    width: 100%;
    height: 615.626px;
    flex-shrink: 0;
  }

  .text1 {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
  }

  h1 {
    font-size: var(--heading01);
    color: var(--secondary02);
    max-width: 20ch;
    line-height: 1.5em;
  }

  p {
    color: var(--secondary02);
    max-width: 50ch;
  }

  .img {
    flex-basis: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    background: url(../assets/images/sarah.jpg);
  }

  button {
    border-radius: 42px;
    border: 1px solid #ebebeb;
    background: var(--secondary02);

    display: flex;
    padding: 16px 31px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
</style>
